name: Code Lint
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      python-version-file:
        required: true
        type: string
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-python@v6.2.0
        with:
          python-version-file: ${{ inputs.python-version-file }}
      - uses: pre-commit/action@v3.0.1